<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Percentage Calculator</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<style>
	body{
		background-image: url(/img/sayagata-400px.png)
	}
		.container {
			
			border:1px solid #aaa;
			width: 75%;
			margin-top:30px;
			padding: 20px;
			border-radius: 10px;
			font-size: 1.5em;
		}
		
	</style>
</head>
<body>
<div class="container-fluid">
<div class="page-header">
  <h1>Percentage Calculator <small>Practicing Angular</small></h1>
</div>


<div class="container">

	<section>


      <form ng-controller="myController" ng-submit="f1($event)" id="f1" action="#" class="form-inline form-group">
        <fieldset class="row">
					<div class="col-md-6 ">
						<p>What is <input ng-model="op_1" class="form-control" id="f1-a" type="text" size="3">% of <input ng-model="op_2" class="form-control" id="f1-b" type="text" size="7">?</p>
					</div>
					<div class="col-md-6">
	          <button id="f1-calculate" class="btn btn-primary">Calculate</button>
						<!-- result = a / 100 * b; -->
	          <input ng-model="res1" class="form-control" id="f1-result" type="text" size="7" readonly="readonly">
	          <span class="remove">%</span>
					</div>
        </fieldset>
      </form>


      <form ng-controller="myController1" ng-submit="f2($event)" id="f2" action="#" class="form-inline form-group">
        <fieldset class="row">
					<div class="col-md-6">
						<p><input ng-model="op_21" class="form-control" id="f2-a" type="text" size="5"> is what percent of <input ng-model="op_22" class="form-control" id="f2-b" type="text" size="5">?</p>
					</div>
					<div class="col-md-6">
	          <button id="f2-calculate" class="btn btn-primary">Calculate</button>
	          <!-- result = a / b * 100; -->
          	<input ng-model="res2" class="form-control" id="f2-result" type="text" size="7" readonly="readonly">
          	<span>%</span>
					</div>
        </fieldset>
      </form>

      <form ng-controller="myController3" ng-submit="f3($event)" id="f3" action="#" class="form-inline form-group">
        <fieldset class="row">
					<div class="col-md-6">
						<p>What is the percentage increase/decrease<br>from <input ng-model="op_31" class="form-control" id="f3-a" type="text" size="6"> to <input input ng-model="op_32" class="form-control" id="f3-b" type="text" size="6">?</p>
					</div>
					<div class="col-md-6">
	          <button id="f3-calculate" class="btn btn-primary">Calculate</button>
	          <!-- result = (b - a) / a  * 100; -->
	          <input ng-model="res3" class="form-control" id="f3-result" type="text" size="7" readonly="readonly">
	          <span>%</span>
					</div>
        </fieldset>
      </form>

      <p id="tips"><strong>Tips:</strong> Use tab to move to the next field. Use shift-tab to move to the previous field. Press enter to calculate.</p>
    </section>

</div>
</div>
	<script src="https://opensource.keycdn.com/angularjs/1.5.8/angular.min.js "></script>

	<script src="app.js"></script>
	<script src="controller.js"></script>
	

	

</body>
</html>
