/*.container {
border:3px solid red;
}*/

/*body{
	background-color: #333;
}*/

.banner-container {
	background-image: url(../img/site_showcase_bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.banner-container * {
	color:white;
}

.elements-banner {
	margin-top:40px;
	/*border:4px solid blue;*/
}

/*.elements-banner > div {
	border:4px solid red;
}*/

.elements-banner h1 {
	font-size:60px;
	margin-bottom:50px;
}

.elements-banner p {
	font-size:20px;
	margin-bottom:30px;
}

.elements-banner div:first-child {
	/*border:2px solid orange;*/
	display:flex;
	flex-direction: column;
	justify-content:center;
	height:550px;
}

.icons-download {
	display: flex;
	justify-content: space-around;
}

body > .navbar {
	margin-bottom:0;
}

.catalog{
	background-color: white;
	margin: 20px 0px 20px 0px;

}

.down{
	background-color:#1caa98;
	/*height:500px;*/
	color: white;
	padding: 5% 0% 10% 20%;
	


}
.down span{
	margin:0px 10px 0px 0px;
}

.down p{
	font-size: 20px;
}

.down h2{
	margin-bottom: 18px;
}
.footer {
	background-color: #333;
	color:white;
	height:50px;
}
.footer ul li{
	text-decoration: none;
	display:inline;

}
.copy{
	text-align: right;
}



/*PAGE ABOUT*/

.upper{
	background-color:#1caa98;
	color: white;
	padding: 2% 0% 3% 0%;

}

.upper h2{
	margin-bottom: 18px;

}
.main{
	margin: 20px 0px 20px 0px;

}

.main_contact{
	margin: 20px 0px 20px 0px;
	}

.img_middle {
	/*padding: 3% 0% 2% 0%;*/

}

@media screen and (max-width:500px){
.elements-banner img {
	display:none;
}
}



